    @import 'tailwindcss/base';
    @import 'tailwindcss/components';
    @import 'tailwindcss/utilities';

    @media screen and (min-width: 1260px) {
    /* Styling for checkbox when there are 2 columns */
    .checkboxes-container.grid-cols-2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    /* Styling for sliders when there are 2 columns */
    .sliders-container .grid-cols-2{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    /* Ordering for elements inside 'sliders-container' */
    .sliders-container .height-min {
    order: 1;
    }

    .sliders-container .width-min {
    order: 2;
    }

    .sliders-container .height-flowers {
    order: 3;
    }

    .sliders-container .height-max {
    order: 4;
    }

    .sliders-container .width-max {
    order: 5;
    }

    .sliders-container .height-leaves {
    order: 6;
    }
    }

    /* Styling for the entire app */
    .App{
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
    }

    /* Styling for the app when its data-theme is set to 'dark' */
    .App[data-theme='dark'] {
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    }

    /* Styling for the container holding sort options */
    .sort-options-container{
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
    }

    /* Styling for the sliders container in dark mode */
    .App[data-theme='dark'] .sliders-container{
    background-color: rgb(0 0 0 / 5%);
    }

    /* Styling for number inputs in sliders container in dark mode */
    .App[data-theme='dark'] .sliders-container input[type='number']{
    color: #fff;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
    }

    /* Styling for toggle buttons in dark mode */
    .App[data-theme='dark'] .toggle-container button{
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
    color: #fff;
    border:none;
    }

    /* Hover styling for toggle buttons in dark mode */
    .App[data-theme='dark'] .toggle-container button:hover{
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
    }

    /* Hover styling for sort options list in dark mode */
    .App[data-theme='dark'] .sort-options-list li:hover{
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
    }

    /* Styling for search history list items in dark mode */
    .App[data-theme='dark'] .search-history-list li{
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
    }

    /* Hover styling for search history list items in dark mode */
    .App[data-theme='dark'] .search-history-list li:hover{
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
    }

    /* Styling for search bar container in dark mode */
    .App[data-theme='dark'] .search-bar-container{
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
    }

    /* Styling for search input in dark mode */
    .App[data-theme='dark'] .search-input {
    background-color: #6b7280;
    color: #fff;
    }

    /* Styling for suggestions list in dark mode */
    .App[data-theme='dark'] .suggestions-list {
    background-color: #6b7280;
    }

    /* Styling for cursor pointer in dark mode */
    .App[data-theme='dark'] .cursor-pointer {
    color: #fff;
    }

    /* Hover styling for cursor pointer in dark mode */
    .App[data-theme='dark'] .cursor-pointer:hover {
    background-color: #4b5563;
    }

    /* Styling for type name buttons in dark mode */
    .App[data-theme='dark'] .type-name-container .type-name-button {
    background-color: #6b7280;
    color: #fff;
    border:none;
    }

    /* Hover styling for type name buttons in dark mode */
    .App[data-theme='dark'] .type-name-container .type-name-button:hover {
    background-color: #4b5563;
    }

    /* Styling for search and sort buttons in dark mode */
    .App[data-theme='dark'] .search-button,
    .App[data-theme='dark'] .sort-button {
    background-color: #333;
    color: #fff;
    border-color: #fff;
    }

    /* Hover styling for search and sort buttons in dark mode */
    .App[data-theme='dark'] .search-button:hover,
    .App[data-theme='dark'] .sort-button:hover {
    background-color: #4b5563;
    }

    /* Styling for SVG icons inside search and sort buttons in dark mode */
    .App[data-theme='dark'] .search-button svg,
    .App[data-theme='dark'] .sort-button svg {
    fill: #fff;
    }

    /* Styling for number input spin buttons */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Styling for checkboxes container title in dark mode */
    .App[data-theme='dark'] .checkboxes-container h2 {
    --tw-gradient-to: #575656 var(--tw-gradient-to-position);
    }

    /* Styling for slider labels in dark mode */
    .App[data-theme='dark'] .sliders-container label {
    --tw-gradient-to: #575656 var(--tw-gradient-to-position);
    }

    /* Styling for button container */
    .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    }

    /* Styling for default buttons */
    .default-btn{
    padding: 4px 6px;
    background: black;
    color: white;
    border-radius: 5px;
    }

    /* Hover styling for default buttons */
    .default-btn:hover{
    background-color: gray;
    }

    /* Styling for default buttons in dark mode */
    .App[data-theme='dark'] .default-btn{
    background: #7c7c7c;
    color: white;
    }

    /* Styling for clear history button in dark mode */
    .App[data-theme='dark'] .clear-history-button {
    background-color: #333;
    color: #fff;
    }

    /* Hover styling for clear history button in dark mode */
    .App[data-theme='dark'] .clear-history-button:hover {
    background-color: #4b5563;
    color: #fff;
    }

    /* Hover styling for default buttons in dark mode */
    .App[data-theme='dark'] .default-btn:hover {
    background-color: #333;
    color: #fff;
    }

    @media screen and (max-width: 1440px) {
    /* When there are 2 columns */
    .plant-info .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    }

    .characteristics {
    grid-column: span 1;
    grid-row: span 2;
    }

    .environment {
    grid-column: span 1;
    grid-row: span 1;
    }

    .aliases {
    grid-column: 2 / span 1;
    grid-row: span 1;
    }
    }

    @media screen and (max-width: 768px) {
    /* Styling for plant info grid container when there is 1 column */
    .plant-info .grid-cols-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }

    /* Default styles for the grid */
    .info-columns {
    display: grid;
    grid-template-columns: 1fr;
    }

    /* Resetting grid column and row */
    .characteristics,
    .environment,
    .aliases {
    grid-column: auto;
    grid-row: auto;
    }
    }