body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.stadi-list {
  list-style: none;
  padding: 0;
}

.stadi-item {
  border: 5px double #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #333;
}

.loading-message {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.search-input {
  padding: 10px 40px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50"><path d="M21 3C11.622998 3 4 10.623005 4 20C4 29.376995 11.622998 37 21 37C24.712383 37 28.139151 35.791079 30.9375 33.765625L44.085938 46.914062L46.914062 44.085938L33.886719 31.058594C36.443536 28.083 38 24.223631 38 20C38 10.623005 30.377002 3 21 3zM21 5C29.296122 5 36 11.703883 36 20C36 28.296117 29.296122 35 21 35C12.703878 35 6 28.296117 6 20C6 11.703883 12.703878 5 21 5z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dark-mode .search-input::placeholder {
  color: #fff;
}

.search-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions-list li:hover {
  background-color: #f5f5f5;
}

.search-input {
  border-radius: 4px;
}

.search-bar-container {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-history-container {
  margin-top: 10px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.search-history-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  display: flex;
    align-items: center;
    justify-content: center;
}

.search-history-list {
  list-style: none;
  padding: 0;
}

.search-history-list li {
  cursor: pointer;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.search-history-list li:hover {
  background-color: #d6d0d0;
}

.history-button {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s ease;
}

.history-button:hover {
  background-color: #ddd;
}

/* Dark mode styles */

body.dark-mode {
  background-color: #333 !important;
  color: #333 !important;
}

.container.dark-mode {
  background-color: #333 !important;
  color: #333 !important;
}

.dark-mode h1 {
  color: #fff;
}

.dark-mode .stadi-item {
  background-color: #333;
  color: lightgray;
}

.dark-mode .loading-message {
  color: lightgray;
}

.dark-mode .search-bar-container {
  border: 1px solid #666;
}

.dark-mode .search-input {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
}

.dark-mode .suggestions-list {
  border: 1px solid #666;
}

.dark-mode .suggestions-list li {
  background-color: #444;
  color: #fff;
}

.dark-mode .search-history-container {
  background-color: #333;
  color: #fff;
  border: 3px solid lightgray;
}

.dark-mode .search-history-container h2 {
  color: lightgray;
}

.dark-mode .search-history-list li {
  background-color: #444;
  color: #fff;
  border: 2px solid lightgray;
}

.dark-mode .history-button {
  background-color: #666;
  color: lightgray;
  border: 1px solid #888;
}

.dark-mode .history-button:hover {
  background-color: #888;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
}
.light-mode-toggle {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.light-mode-toggle:hover {
  background-color: #ddd;
}

.dark-mode-toggle {
  background-color: #666;
  color: lightgray;
  border: 1px solid #888;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.dark-mode-toggle:hover {
  background-color: #888;
}

.dark-mode .no-data {
  color: #fff;
}

.dark-mode .search-history-list li:hover {
  background-color: darkgrey;
}

.centered-message {
  text-align: center;
}
.delete-history-button {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin: auto;
  display: block;
}

.delete-history-button:hover {
  background-color: #ddd;
}

.dark-mode .delete-history-button {
  background-color: #666;
  color: lightgray;
  border: 1px solid #888;
}

.dark-mode .delete-history-button:hover {
  background-color: #888;
}
